{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["plugin:react/recommended", "airbnb", "prettier", "next/core-web-vitals"],
    "overrides": [],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/react-in-jsx-scope": "off",
        "comma-dangle": "off"
    }
}
