.card {
  transition: color 0.15s ease, border-color 0.15s ease;
  border-radius: 0.5rem;
  width: 7rem;
  height: 4.125rem;
  background: #FFFFFF;
  box-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.25);

  align-items: center;
  text-align: center;
}

.mandatory {
  position: relative;
  bottom: -33px;
  padding: 5px;
  background-color: #FFAF0F;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.optative {
  position: relative;
  bottom: -33px;
  padding: 5px;
  background-color: #3574F0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card strong {
  position: relative;
  left: 0%;
  right: 0%;
  top: 36.36%;
  bottom: 15.15%;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;

  color: #232323;
}
