.box {
  margin-bottom: 1rem;
  width: 100%;
}

.cards_box {
  background: #DFE1E5;

  border-width: 0px 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 8px;
  min-width: 100%;
}


.tilte_box h2 {
  background: #232323;

  border: 1px solid #FFFFFF;
  border-width: 0px 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 8px 8px 0px 0px;

  margin: 0;

  width: 144px;
  height: 32px;

  font-size: 16px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  color: #FFFFFF;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}