html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  /* border: 0.0625rem solid red; */
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 0.0625rem solid #EAEAEA;
  justify-content: center;
  align-items: center;
  background: #232323;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

body {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 #F1F1F1;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 0.25rem;
}

.MuiFormHelperText-root {
  margin: 0;
}