.period {

  width: 144px;
  min-height: 648px;

  background: #DFE1E5;
  /* MC - Branco */

  border-width: 0px 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.tilte_box h2 {
  /* MC - Preto */
  background: #232323;

  /* MC - Branco */
  border: 1px solid #FFFFFF;

  border-width: 0px 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 8px 8px 0px 0px;

  font-size: 1.5rem;

  margin: 0 0 16px 0;

  width: 144px;
  height: 32px;

  /* texto padrao */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  /* MC - Branco */
  color: #FFFFFF;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color:  #232323;
  }
} */